In [1]:
!pip install mlflow

Requirement already satisfied: mlflow in e:\attrition_application\venv\lib\site-packages (2.20.3)
Requirement already satisfied: mlflow-skinny==2.20.3 in e:\attrition_application\venv\lib\site-packages (from mlflow) (2.20.3)
Requirement already satisfied: Flask<4 in e:\attrition_application\venv\lib\site-packages (from mlflow) (3.1.0)
Requirement already satisfied: Jinja2<4,>=3.0 in e:\attrition_application\venv\lib\site-packages (from mlflow) (3.1.5)
Requirement already satisfied: alembic!=1.10.0,<2 in e:\attrition_application\venv\lib\site-packages (from mlflow) (1.15.1)
Requirement already satisfied: docker<8,>=4.0.0 in e:\attrition_application\venv\lib\site-packages (from mlflow) (7.1.0)
Requirement already satisfied: graphene<4 in e:\attrition_application\venv\lib\site-packages (from mlflow) (3.4.3)
Requirement already satisfied: markdown<4,>=3.3 in e:\attrition_application\venv\lib\site-packages (from mlflow) (3.7)
Requirement already satisfied: matplotlib<4 in e:\attrition_application\venv\lib\site-packages (from mlflow) (3.10.1)
Requirement already satisfied: numpy<3 in e:\attrition_application\venv\lib\site-packages (from mlflow) (2.0.2)
Requirement already satisfied: pandas<3 in e:\attrition_application\venv\lib\site-packages (from mlflow) (2.2.3)
Requirement already satisfied: pyarrow<20,>=4.0.0 in e:\attrition_application\venv\lib\site-packages (from mlflow) (19.0.1)
Requirement already satisfied: scikit-learn<2 in e:\attrition_application\venv\lib\site-packages (from mlflow) (1.6.1)
Requirement already satisfied: scipy<2 in e:\attrition_application\venv\lib\site-packages (from mlflow) (1.15.2)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in e:\attrition_application\venv\lib\site-packages (from mlflow) (2.0.38)
Requirement already satisfied: waitress<4 in e:\attrition_application\venv\lib\site-packages (from mlflow) (3.0.2)
Requirement already satisfied: cachetools<6,>=5.0.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (5.5.2)
Requirement already satisfied: click<9,>=7.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (8.1.8)
Requirement already satisfied: cloudpickle<4 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (3.1.1)
Requirement already satisfied: databricks-sdk<1,>=0.20.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (0.45.0)
Requirement already satisfied: gitpython<4,>=3.1.9 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (3.1.44)
Requirement already satisfied: importlib_metadata!=4.7.0,<9,>=3.7.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (8.5.0)
Requirement already satisfied: opentelemetry-api<3,>=1.9.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (1.30.0)
Requirement already satisfied: opentelemetry-sdk<3,>=1.9.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (1.30.0)
Requirement already satisfied: packaging<25 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (24.2)
Requirement already satisfied: protobuf<6,>=3.12.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (5.29.3)
Requirement already satisfied: pydantic<3,>=1.10.8 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (2.10.6)
Requirement already satisfied: pyyaml<7,>=5.1 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (6.0.2)
Requirement already satisfied: requests<3,>=2.17.3 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (2.32.3)
Requirement already satisfied: sqlparse<1,>=0.4.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (0.5.3)
Requirement already satisfied: typing-extensions<5,>=4.0.0 in e:\attrition_application\venv\lib\site-packages (from mlflow-skinny==2.20.3->mlflow) (4.12.2)
Requirement already satisfied: Mako in e:\attrition_application\venv\lib\site-packages (from alembic!=1.10.0,<2->mlflow) (1.3.9)
Requirement already satisfied: pywin32>=304 in e:\attrition_application\venv\lib\site-packages (from docker<8,>=4.0.0->mlflow) (308)
Requirement already satisfied: urllib3>=1.26.0 in e:\attrition_application\venv\lib\site-packages (from docker<8,>=4.0.0->mlflow) (2.3.0)
Requirement already satisfied: Werkzeug>=3.1 in e:\attrition_application\venv\lib\site-packages (from Flask<4->mlflow) (3.1.3)
Requirement already satisfied: itsdangerous>=2.2 in e:\attrition_application\venv\lib\site-packages (from Flask<4->mlflow) (2.2.0)
Requirement already satisfied: blinker>=1.9 in e:\attrition_application\venv\lib\site-packages (from Flask<4->mlflow) (1.9.0)
Requirement already satisfied: graphql-core<3.3,>=3.1 in e:\attrition_application\venv\lib\site-packages (from graphene<4->mlflow) (3.2.6)
Requirement already satisfied: graphql-relay<3.3,>=3.1 in e:\attrition_application\venv\lib\site-packages (from graphene<4->mlflow) (3.2.0)
Requirement already satisfied: python-dateutil<3,>=2.7.0 in e:\attrition_application\venv\lib\site-packages (from graphene<4->mlflow) (2.9.0.post0)
Requirement already satisfied: MarkupSafe>=2.0 in e:\attrition_application\venv\lib\site-packages (from Jinja2<4,>=3.0->mlflow) (3.0.2)
Requirement already satisfied: contourpy>=1.0.1 in e:\attrition_application\venv\lib\site-packages (from matplotlib<4->mlflow) (1.3.1)
Requirement already satisfied: cycler>=0.10 in e:\attrition_application\venv\lib\site-packages (from matplotlib<4->mlflow) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in e:\attrition_application\venv\lib\site-packages (from matplotlib<4->mlflow) (4.56.0)
Requirement already satisfied: kiwisolver>=1.3.1 in e:\attrition_application\venv\lib\site-packages (from matplotlib<4->mlflow) (1.4.8)
Requirement already satisfied: pillow>=8 in e:\attrition_application\venv\lib\site-packages (from matplotlib<4->mlflow) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in e:\attrition_application\venv\lib\site-packages (from matplotlib<4->mlflow) (3.2.1)
Requirement already satisfied: pytz>=2020.1 in e:\attrition_application\venv\lib\site-packages (from pandas<3->mlflow) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in e:\attrition_application\venv\lib\site-packages (from pandas<3->mlflow) (2025.1)
Requirement already satisfied: joblib>=1.2.0 in e:\attrition_application\venv\lib\site-packages (from scikit-learn<2->mlflow) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in e:\attrition_application\venv\lib\site-packages (from scikit-learn<2->mlflow) (3.5.0)
Requirement already satisfied: greenlet!=0.4.17 in e:\attrition_application\venv\lib\site-packages (from sqlalchemy<3,>=1.4.0->mlflow) (3.1.1)
Requirement already satisfied: colorama in e:\attrition_application\venv\lib\site-packages (from click<9,>=7.0->mlflow-skinny==2.20.3->mlflow) (0.4.6)
Requirement already satisfied: google-auth~=2.0 in e:\attrition_application\venv\lib\site-packages (from databricks-sdk<1,>=0.20.0->mlflow-skinny==2.20.3->mlflow) (2.38.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in e:\attrition_application\venv\lib\site-packages (from gitpython<4,>=3.1.9->mlflow-skinny==2.20.3->mlflow) (4.0.12)
Requirement already satisfied: zipp>=3.20 in e:\attrition_application\venv\lib\site-packages (from importlib_metadata!=4.7.0,<9,>=3.7.0->mlflow-skinny==2.20.3->mlflow) (3.21.0)
Requirement already satisfied: deprecated>=1.2.6 in e:\attrition_application\venv\lib\site-packages (from opentelemetry-api<3,>=1.9.0->mlflow-skinny==2.20.3->mlflow) (1.2.18)
Requirement already satisfied: opentelemetry-semantic-conventions==0.51b0 in e:\attrition_application\venv\lib\site-packages (from opentelemetry-sdk<3,>=1.9.0->mlflow-skinny==2.20.3->mlflow) (0.51b0)
Requirement already satisfied: annotated-types>=0.6.0 in e:\attrition_application\venv\lib\site-packages (from pydantic<3,>=1.10.8->mlflow-skinny==2.20.3->mlflow) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in e:\attrition_application\venv\lib\site-packages (from pydantic<3,>=1.10.8->mlflow-skinny==2.20.3->mlflow) (2.27.2)
Requirement already satisfied: six>=1.5 in e:\attrition_application\venv\lib\site-packages (from python-dateutil<3,>=2.7.0->graphene<4->mlflow) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in e:\attrition_application\venv\lib\site-packages (from requests<3,>=2.17.3->mlflow-skinny==2.20.3->mlflow) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in e:\attrition_application\venv\lib\site-packages (from requests<3,>=2.17.3->mlflow-skinny==2.20.3->mlflow) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in e:\attrition_application\venv\lib\site-packages (from requests<3,>=2.17.3->mlflow-skinny==2.20.3->mlflow) (2025.1.31)
Requirement already satisfied: wrapt<2,>=1.10 in e:\attrition_application\venv\lib\site-packages (from deprecated>=1.2.6->opentelemetry-api<3,>=1.9.0->mlflow-skinny==2.20.3->mlflow) (1.17.2)
Requirement already satisfied: smmap<6,>=3.0.1 in e:\attrition_application\venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.1.9->mlflow-skinny==2.20.3->mlflow) (5.0.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in e:\attrition_application\venv\lib\site-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==2.20.3->mlflow) (0.4.1)
Requirement already satisfied: rsa<5,>=3.1.4 in e:\attrition_application\venv\lib\site-packages (from google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==2.20.3->mlflow) (4.9)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in e:\attrition_application\venv\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth~=2.0->databricks-sdk<1,>=0.20.0->mlflow-skinny==2.20.3->mlflow) (0.6.1)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import mlflow


from scipy.stats import (
                         shapiro,
                         levene,
                         mannwhitneyu,
                         ttest_ind,
                         chi2_contingency,
                         fisher_exact)

from sklearn.preprocessing import (
                            MinMaxScaler,
                            OneHotEncoder,
                            LabelEncoder
                            )

from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from statsmodels.discrete.discrete_model import Logit
from statsmodels.stats.outliers_influence import variance_inflation_factor

pd.set_option('display.max_columns', None)

In [3]:
root = Path('Attrition_Application/artifacts/data_ingestion_artifact/Attrition.csv')
dataset_path = Path.joinpath(Path('/').resolve(),root)

In [4]:
df = pd.read_csv(dataset_path)

In [5]:
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
278,26,No,Travel_Frequently,1479,Research & Development,1,3,Life Sciences,1,384,3,Female,84,3,2,Manufacturing Director,2,Divorced,6397,26767,1,Y,No,20,4,1,80,1,6,6,1,6,5,1,4
1002,35,No,Travel_Frequently,200,Research & Development,18,2,Life Sciences,1,1412,3,Male,60,3,3,Manufacturing Director,4,Single,9362,19944,2,Y,No,11,3,3,80,0,10,2,3,2,2,2,2
511,36,No,Travel_Rarely,913,Research & Development,9,2,Medical,1,699,2,Male,48,2,2,Manufacturing Director,2,Divorced,8847,13934,2,Y,Yes,11,3,3,80,1,13,2,3,3,2,0,2
787,55,No,Travel_Frequently,1091,Research & Development,2,1,Life Sciences,1,1096,4,Male,65,3,3,Manufacturing Director,2,Married,10976,15813,3,Y,No,18,3,2,80,1,23,4,3,3,2,1,2
1304,40,No,Travel_Rarely,750,Research & Development,12,3,Life Sciences,1,1829,2,Female,47,3,2,Healthcare Representative,1,Divorced,4448,10748,2,Y,No,12,3,2,80,1,15,3,3,7,4,7,7

In [4]:
df.shape

(1470, 35)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [6]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
df.select_dtypes(exclude='object').describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [8]:
num_features = df.select_dtypes(exclude='object').columns.to_list()
cat_features = df.select_dtypes(include='object').columns.to_list()

descrete_features = list()
continues_features = list()

for feature in num_features:
    if df[feature].nunique() > 5:
        continues_features.append(feature)
    else:
        descrete_features.append(feature)    

cat_features.remove('Attrition')

target_feature = 'Attrition'

In [9]:
significant_num_features = list()

def checkNormality(sample_1,sample_2):
    print('Shapiro-Wilk Test')
    # Null Hypothesis (H0): the data was drawn from a normal distribution.
    # Alternative Hypothesis (H1): the data was not drawn from a normal distribution.

    stats_1,p_val_1 = shapiro(sample_1)
    stats_2,p_val_2 = shapiro(sample_2)
    print()
    print(f'sample 1 : stats {stats_1}, p-val: {p_val_1}')
    print(f'sample 1 : stats {stats_2}, p-val: {p_val_2}')
    result = p_val_2 > 0.05 or p_val_1 > 0.05
    return result


def checkVarianceHomogenisity(sample_1,sample_2):
    print('levene Test')
    # Null Hypothesis (H0): The variances are equal across the groups.
    # Alternative Hypothesis (H1): The variances are not equal across the groups.

    stats, p_val = levene(sample_1, sample_2)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result


def MannWhitneyTest(sample_1, sample_2):
    print('Mann-Whitney U test')
    # Null Hypothesis (H0): The distributions of the two groups are equal.
    # Alternative Hypothesis (H1): The distributions of the two groups are not equal.

    stats, p_val = mannwhitneyu(sample_1, sample_2)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result
        

def Ttest(sample_1, sample_2,var_same=True):
    if var_same:
        print('T-test of Independence')
    else:
        print("Wetch's T-test")    
    # Null Hypothesis (H0): The distributions of the two groups are equal.
    # Alternative Hypothesis (H1): The distributions of the two groups are not equal.

    stats, p_val = ttest_ind(sample_1, sample_2,equal_var=var_same)
    print()
    print(f'sample 1 : stats {stats}, p-val: {p_val}')
    result = p_val > 0.05
    return result


def CheckSignificance(feature):
    print('levene Test')
    # taking out random samples
    class_samples_1 = df[df['Attrition'] == 'Yes'][feature].sample(200)
    class_samples_2 = df[df['Attrition'] == 'No'][feature].sample(200)
    print(feature)
    print('-'*25)

    

    if checkNormality(class_samples_1,class_samples_2):
        print('The samples not follows normal distribution. (Reject H0) ✓')
        if checkVarianceHomogenisity(class_samples_1,class_samples_2):
            print(f'This variance of two given samples are homogeneus. (Reject H0) ✓') 
            if Ttest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                 print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')   
        else:
            if MannWhitneyTest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')
    else:
        print('The samples follows normal distribution. (Reject H0) ✓')
        if checkVarianceHomogenisity(class_samples_1,class_samples_2):
            print(f'This variance of two given samples are homogeneus. (Reject H0) ✓') 
            if Ttest(class_samples_1, class_samples_2,False):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                 print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')   
        else:
            if MannWhitneyTest(class_samples_1, class_samples_2):
                print(f'This means that there is a significant difference between the two groups. (Reject H0) ✓')  
                significant_num_features.append(feature)     
            else:
                print(f'This means that there is no significant difference between the two groups. (Accept H0) ✗')
    print('-'*25)

for feature in continues_features:
    CheckSignificance(feature)

levene Test
Age
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9436856882738741, p-val: 4.863090252907193e-07
sample 1 : stats 0.9705367516738206, p-val: 0.00032889245311862206
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.10198082950836605, p-val: 0.749632934099071
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -3.8022850757513713, p-val: 0.00016596890715205086
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
DailyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9517775540542107, p-val: 2.810291374744542e-06
sample 1 : stats 0.949848987316726, p-val: 1.824735320650447e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.30900139607183175, p-val: 0.5786059650186048
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -2.896297397571775, p-val: 0.003984497823585685
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
DistanceFromHome
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8896450055701406, p-val: 5.7798070502249425e-11
sample 1 : stats 0.8476981717747294, p-val: 3.329695920709228e-13
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.040740947537083995, p-val: 0.8401419104841221
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 1.2826129498931795, p-val: 0.20037423135917476
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
EmployeeNumber
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9622669174418105, p-val: 3.506981784213329e-05
sample 1 : stats 0.9540732955907723, p-val: 4.756628051268298e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.216750636869111, p-val: 0.27066580349178365
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -0.45757437086336683, p-val: 0.647508291423715
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
HourlyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.9583703113096771, p-val: 1.3232394384493218e-05
sample 1 : stats 0.9486702552787324, p-val: 1.4076114139708263e-06
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.5259343918825268, p-val: 0.21745233486738771
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 0.00980664934472671, p-val: 0.9921804803955305
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
MonthlyIncome
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.7666600972987039, p-val: 1.5694198152131377e-16
sample 1 : stats 0.8308149404350719, p-val: 5.5068382978486766e-14
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 9.606989932399637, p-val: 0.002076129720059606
Mann-Whitney U test

sample 1 : stats 13674.0, p-val: 4.4696945770286765e-08
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
MonthlyRate
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.95224572039815, p-val: 3.1252381411518492e-06
sample 1 : stats 0.9574619440080318, p-val: 1.0612623155995005e-05
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.191808024194455, p-val: 0.6616536443602449
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 0.8115013226952869, p-val: 0.4175633612339774
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
NumCompaniesWorked
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8414250393815602, p-val: 1.6799989392750272e-13
sample 1 : stats 0.8601233109209723, p-val: 1.3700990754803115e-12
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.7717227898353602, p-val: 0.1839309848689934
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats 1.3775746605417314, p-val: 0.16911333954814467
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
PercentSalaryHike
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8787937238931296, p-val: 1.3616508312991052e-11
sample 1 : stats 0.9157888421477001, p-val: 2.8915351438994427e-09
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.9268237463007599, p-val: 0.33627417527778625
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -0.5501866354706569, p-val: 0.5825026640369141
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
TotalWorkingYears
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.839460300725192, p-val: 1.3612543910284122e-13
sample 1 : stats 0.9238494226020351, p-val: 1.126144283597786e-08
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 1.9404504982973523, p-val: 0.16439718702465397
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -4.720986808618091, p-val: 3.2607702499195103e-06
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
TrainingTimesLastYear
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8998398198961873, p-val: 2.454595570262181e-10
sample 1 : stats 0.8827468956181354, p-val: 2.2819095201428395e-11
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.11963128715516688, p-val: 0.7296174866425431
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -1.4728813378209467, p-val: 0.14157398213501382
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
YearsAtCompany
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.7222622530837112, p-val: 5.23598363680632e-18
sample 1 : stats 0.859586654133607, p-val: 1.2866490097288549e-12
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 3.543508131711932, p-val: 0.060508170524778436
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -4.085555089783127, p-val: 5.3264473163569154e-05
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
YearsInCurrentRole
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8007626807009187, p-val: 2.9907887647216367e-15
sample 1 : stats 0.9029228783317129, p-val: 3.8730704873328365e-10
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 8.782550388443562, p-val: 0.00322398681709518
Mann-Whitney U test

sample 1 : stats 13800.0, p-val: 4.9098728972524744e-08
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------
levene Test
YearsSinceLastPromotion
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.6619062133241328, p-val: 9.311565103078915e-20
sample 1 : stats 0.6852554257823416, p-val: 4.13073250466593e-19
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 0.18155688587790328, p-val: 0.6702690201129314
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -0.6071927298940617, p-val: 0.5440699133660503
This means that there is a significant difference between the two groups. (Reject H0) ✓
-------------------------
levene Test
YearsWithCurrManager
-------------------------
Shapiro-Wilk Test

sample 1 : stats 0.8126243175701657, p-val: 9.074404790581775e-15
sample 1 : stats 0.9166216267430977, p-val: 3.314837549909868e-09
The samples follows normal distribution. (Reject H0) ✓
levene Test

sample 1 : stats 2.5441716434417208, p-val: 0.11149569065324924
This variance of two given samples are homogeneus. (Reject H0) ✓
Wetch's T-test

sample 1 : stats -5.260284045115256, p-val: 2.3604984912185525e-07
This means that there is no significant difference between the two groups. (Accept H0) ✗
-------------------------

In [10]:
for feature in descrete_features:
    print(feature,df[feature].nunique())

descrete_features = [feature for feature in descrete_features if df[feature].nunique() > 1]

Education 5
EmployeeCount 1
EnvironmentSatisfaction 4
JobInvolvement 4
JobLevel 5
JobSatisfaction 4
PerformanceRating 2
RelationshipSatisfaction 4
StandardHours 1
StockOptionLevel 4
WorkLifeBalance 4

In [11]:
for feature in cat_features:
    print(feature,df[feature].nunique())
    
cat_features = [feature for feature in cat_features if df[feature].nunique() > 1]

BusinessTravel 3
Department 3
EducationField 6
Gender 2
JobRole 9
MaritalStatus 3
Over18 1
OverTime 2

In [12]:
significant_cat_features = list()

def significant_bin_cat_features(feature,target):
    print(feature)
    feat,target = df[feature].sample(500),df[target].sample(500)
    contingency_table = pd.crosstab(feat,target)
    print('-'*25)

    result = chi2_contingency(contingency_table)
    if (result.expected_freq < 5).any():
        p_value = result.pvalue
        print(f'The Frequency count greater than 5. Assumption satisfied ✓') 
        if p_value < 0.05:
            print("Reject the null hypothesis: There is an association between the two categorical variables. ✓")
            significant_cat_features.append(feature)
        else:
            print("Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗") 
    else:
        print(f'The Frequency count is greater than 5. Assumption violated ✗')
        print()
        print('Fisher exact test')

        # Null Hypothesis (H0): There is no association between the two categorical variables.
        # Alternative Hypothesis (H1): There is an association between the two categorical variables.
        oddsratio, p_value = fisher_exact(contingency_table)

        print("Odds Ratio:", oddsratio)
        print("P-value:", p_value)

        # Interpretation based on p-value
        if p_value < 0.05:
            print("Reject the null hypothesis: There is an association between the two categorical variables. ✓")
            significant_cat_features.append(feature)
        else:
            print("Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗")     
    print('-'*25) 


for feature in descrete_features+cat_features:
    significant_bin_cat_features(feature,target_feature)

Education
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
EnvironmentSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobInvolvement
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
JobLevel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
JobSatisfaction
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 0.0001749135768546627
P-value: 0.0526
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
PerformanceRating
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
RelationshipSatisfaction
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
StockOptionLevel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
WorkLifeBalance
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
BusinessTravel
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
Department
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
EducationField
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
Gender
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 2.6666666666666665
P-value: 0.06580205863946609
Fail to reject the null hypothesis: There is no association between the two categorical variables. ✗
-------------------------
JobRole
-------------------------
The Frequency count greater than 5. Assumption satisfied ✓
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
MaritalStatus
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 5.401764359058426e-05
P-value: 0.0006
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------
OverTime
-------------------------
The Frequency count is greater than 5. Assumption violated ✗

Fisher exact test
Odds Ratio: 3.3333333333333335
P-value: 0.00604003060646188
Reject the null hypothesis: There is an association between the two categorical variables. ✓
-------------------------

In [13]:
final_selected_features = significant_cat_features+significant_num_features+ [target_feature]

In [14]:
final_selected_features

['JobInvolvement',
 'JobLevel',
 'StockOptionLevel',
 'JobRole',
 'MaritalStatus',
 'OverTime',
 'DistanceFromHome',
 'EmployeeNumber',
 'HourlyRate',
 'MonthlyRate',
 'NumCompaniesWorked',
 'PercentSalaryHike',
 'TrainingTimesLastYear',
 'YearsSinceLastPromotion',
 'Attrition']

In [15]:
data = df[final_selected_features]

In [16]:
sacle_features= [
                 'HourlyRate',
                 'MonthlyRate',
                 'PercentSalaryHike',
                 'TrainingTimesLastYear',
                 'YearsSinceLastPromotion',
                 'EmployeeNumber',
                 'JobInvolvement',
                 'JobSatisfaction',
                 'RelationshipSatisfaction']
ohe_features = ['OverTime']
label_encode_features = ['Attrition']

In [17]:
mx = MinMaxScaler()
ohe = OneHotEncoder(dtype=int,drop='first')
le = LabelEncoder()


ct = ColumnTransformer([
   ('one_hot_encoding',ohe,ohe_features),
   ('min_max_scaling',mx,sacle_features)]
 )

X , y = df.drop('Attrition',axis=1),df['Attrition']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

X_train_transformed = ct.fit_transform(X_train)
X_test_transformed = ct.transform(X_test)

y_train_transformed = le.fit_transform(y_train)
y_test_transformed = le.transform(y_test)

columns =[feature.split('__')[-1] for feature in ct.get_feature_names_out()]
X_train_transformed = pd.DataFrame(X_train_transformed,columns=columns)
X_test_transformed = pd.DataFrame(X_test_transformed,columns=columns)

y_train_transformed = pd.DataFrame(y_train_transformed,dtype=float)
y_test_transformed = pd.DataFrame(y_test_transformed,dtype=float)

In [168]:
lr1 = Logit(y_train_transformed,X_train_transformed,).fit(maxiter=100)
lr1.summary()

Optimization terminated successfully.
         Current function value: 0.402030
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                      0   No. Observations:                  984
Model:                          Logit   Df Residuals:                      973
Method:                           MLE   Df Model:                           10
Date:                Fri, 28 Feb 2025   Pseudo R-squ.:                  0.1173
Time:                        16:40:52   Log-Likelihood:                -395.60
converged:                       True   LL-Null:                       -448.15
Covariance Type:            nonrobust   LLR p-value:                 5.170e-18
============================================================================================
                               coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------
const                       -0.3534      0.484     -0.730      0.465      -1.302       0.595
OverTime_Yes                 1.5082      0.183      8.222      0.000       1.149       1.868
HourlyRate                  -0.0421      0.319     -0.132      0.895      -0.668       0.584
MonthlyRate                  0.0295      0.321      0.092      0.927      -0.599       0.658
PercentSalaryHike           -0.0777      0.353     -0.220      0.826      -0.769       0.614
TrainingTimesLastYear       -0.5293      0.444     -1.192      0.233      -1.400       0.341
YearsSinceLastPromotion     -0.8450      0.484     -1.747      0.081      -1.793       0.103
EmployeeNumber               0.2318      0.309      0.750      0.453      -0.374       0.837
JobInvolvement              -1.6874      0.372     -4.535      0.000      -2.417      -0.958
JobSatisfaction             -0.7788      0.244     -3.188      0.001      -1.258      -0.300
RelationshipSatisfaction    -0.3959      0.254     -1.558      0.119      -0.894       0.102
============================================================================================
"""

In [199]:
exp = mlflow.create_experiment(name='LogitModelExperiment1')

In [207]:
mlflow.set_tracking_uri(uri='http://127.0.0.1:5000')
exp = mlflow.create_experiment(name=exp)

with mlflow.start_run():
    lr1 = Logit(y_train_transformed,X_train_transformed,).fit(maxiter=100)
    mlflow.statsmodels.log_model(lr1,artifact_path='Statsmodels')
    params = lr1.pvalues.to_dict()
    mlflow.log_params(params)

Optimization terminated successfully.
         Current function value: 0.402030
         Iterations 6

2025/02/28 19:03:10 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.

🏃 View run agreeable-shad-437 at: http://127.0.0.1:5000/#/experiments/0/runs/a4e070f82018455181e7beeea18d10b6
🧪 View experiment at: http://127.0.0.1:5000/#/experiments/0

{'const': 0.4654069279460823,
 'OverTime_Yes': 1.9994468407938194e-16,
 'HourlyRate': 0.8951964558753169,
 'MonthlyRate': 0.9268233717923257,
 'PercentSalaryHike': 0.8256381607834216,
 'TrainingTimesLastYear': 0.23344689394942575,
 'YearsSinceLastPromotion': 0.0806646828027661,
 'EmployeeNumber': 0.453227827523358,
 'JobInvolvement': 5.758670029444156e-06,
 'JobSatisfaction': 0.0014325374944757702,
 'RelationshipSatisfaction': 0.11915627868283553}

In [173]:
VIF = pd.DataFrame()
VIF['Features'] = X_train_transformed.columns.to_list()
VIF['VIF'] = [variance_inflation_factor(X_train_transformed.values,i) for i in range(X_train_transformed.shape[1])]
VIF.sort_values(by='VIF',ascending=False,inplace=True)
VIF

                    Features        VIF
0                      const  29.894225
2                 HourlyRate   1.017786
6    YearsSinceLastPromotion   1.012729
9            JobSatisfaction   1.010868
7             EmployeeNumber   1.010062
10  RelationshipSatisfaction   1.009019
1               OverTime_Yes   1.008058
8             JobInvolvement   1.005936
5      TrainingTimesLastYear   1.005830
4          PercentSalaryHike   1.004683
3                MonthlyRate   1.003110